/* Layout */
body {
    background-color:darkseagreen;
}

#h1 {
    margin-top: 30px;
    text-align: center;
    margin-left: auto;
}

.caixa {
    height: 50px;
    border-radius: 20px;
    background-color: lawngreen;
    text-align: center;
    
    
}

.main {
    display: flex;
    padding: 2em;
    height: 90vh;
    justify-content: center;
    align-items: middle;
    text-align: center;
 
}

#relogio {
    text-align: center;
    border-radius: 5px;
    padding-top: 10px;
}

.clockbox,
#clock {
    height: 100%;
}

/* Clock styles */
.circle {
    fill: none;
    stroke: #FFF;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.mid-circle {
    fill: #FFF
}

.hour-marks {
    fill: none;
    stroke: #FFF;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.hour-arm {
    fill: none;
    stroke: #FFF;
    stroke-width: 17;
    stroke-miterlimit: 10;
}

.minute-arm {
    fill: none;
    stroke: #FFF;
    stroke-width: 11;
    stroke-miterlimit: 10;
}

.second-arm {
    fill: none;
    stroke: #F00;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

/* Transparent box ensuring arms center properly. */
.sizing-box {
    fill: none;
}

/* Make all arms rotate around the same center point. */
/* Optional: Use transition for animation. */
#hora,
#minuto,
#segundo {
    transform-origin: 300px 300px;
}
